html {
    font-family: sans-serif;
} 

body {
    margin: 0;
    background: lavenderblush;
}

article {
    max-width: 900px;  /* For Desktop PC (see @media for Tablets/Phones) */
    padding: 2%;
    margin: 10px auto ;
    background: white;
}

img {
	max-width: 100%;
	object-fit: cover;
	aspect-ratio: 4/3;
}

p a {
	color: hotpink;
}

p a:visited {
	color: rebeccapurple;
}

.columns {
  display: flex;
}

.column {
  flex: 2;
  padding: 10px;
}

.main-column {
  flex: 1;
}

.columns:hover {
	background-color: #e6e6e6;
}

.columns a {
	display: flex;
	color: black;
        text-decoration: none;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}

p {
  margin-top: 0px;
  text-align: left;
}

h1 {
    font-size: 1.2em;
/*    margin-top: 4ch;
    border-bottom:1px solid #CCC;
    padding-bottom:3px; */
}

h3 {
	font-size: 1em;
	margin: 0px;
	color: hotpink;
	font-weight: bold;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

textarea {
    resize: none;
    width: 75%;
}

nav {
    overflow: hidden;
    background-color: white;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-size: 1em;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav h3 {
    margin: 0;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {background-color: #e6e6e6;}

nav button {
    background-color: #b2cbd1;
}

nav button:hover {background-color: #9cb2b8;}

@media (max-width: 500px) { /* For small screen decices */
    * {font-size: 12px;}
    
	nav {
         display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;  
    }
  }

